<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include header %>
		<link rel="stylesheet" type="text/css" href="stylesheets/sidebar.css">
	</head>
	<body>
		<%- include navbar %>
		
		<%- include foodlist.ejs %>

		<%- include footer %>
		<script type="text/javascript">
			$('#nav-food').addClass('active');
		</script>
	</body>
</html>
