<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include header %>
	</head>
	<body>
		<%- include navbar %>
		<!-- Add code here -->
		<%- include footer %>
		<script type="text/javascript">
			$(document).ready(function () {
				$('#nav-food').addClass('active');
			});
		</script>
	</body>
</html>
