<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include header %>
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	</head>
	<body>
		<%- include navbar %>
		<!-- Add code here -->
		<article class="ctwTitle">
			<div id="ctwTitleT1">我食故我在</div>
			<div id="ctwTitleT2">I Eat Therefore I Am.</div>
		</article>

		<article class="whatWeCare">
			<div class="whatWeCareT1">What We Care ?</div>
			<div class="whatWeCareContentW">我們相信群眾的力量
				<p>
				你我個人的力量，雖然看似微小，但是集合起來卻有無限的可能。
				</p>
			</div>
			<div class="whatWeCareContentW">我們追求資訊開放
				<p>
				我們想提供一個關於食品安全的開放資料平台，讓大家都可以更迅速、<br>更便捷的得到食品的安全資訊，每個人都有獲得資料、應用資料的權利。
				</p>
			</div>
			<div class="whatWeCareContentW3">最重要的是，我們想讓社會變得更美好!</div>
		</article >

		<article class="allForYou">
			<div class="allForYouT1">What’s For You?</div>
			<div class="allForYouContentW">豐富的食品安全資料庫</div>
			<div class="allForYouContentW">個人化的食</div>
			<div class="allForYouContentW">豐富的食品安全資料庫</div>

		</article>

		<%- include footer %>
	</body>
</html>
