<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include header %>
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	</head>
	<body>
		<%- include navbar %>
		<!-- Add code here -->
		<article class="ctwTitle">
			<div id="ctwTitleT1">我食故我在</div>
			<div id="ctwTitleT2">I Eat Therefore I Am.</div>
		</article>

		<article class="whatWeCare">
			<div class="whatWeCareT1">What We Care</div>
			<div class="whatWeCareContentW">我們相信群眾的力量
				<p>
				你我個人的力量，雖然看似微小，但是集合起來卻有無限的可能。
				</p>
			</div>
			<div class="whatWeCareContentW">我們追求資訊開放
				<p>
				我們想提供一個關於食品安全的開放資料平台，讓大家都可以更迅速、<br>更便捷的得到食品的安全資訊，每個人都有獲得資料、應用資料的權利。
				</p>
			</div>
			<div class="whatWeCareContentW3">最重要的是，我們想讓社會變得更美好!</div>
		</article >

		<article class="allForYou">
			<div class="ctwLayer">
			<div class="allForYouT1">What's For You</div>
			<div class="allForYouContentW">豐富的食品安全資料庫
				<p>
					一鍵搜尋你想深入了解的食物資訊，超快速!
				</p>
			</div>
			<div class="allForYouContentW">個人化的食物關注清單
				<p>
					只要登入Facebook即可將你所關注的食物加入清單中，<br>得到個人化的食品資訊，隨時隨地關注，超方便!
				</p>
			</div>
			<div class="allForYouContentW">清楚明瞭的台灣重大食安事件
				<p>
					透過Timeline的呈現方式，讓你可以一眼就掌握台灣的食安事件，超清楚!
				</p>
			</div>
			</div>
		</article>

		<article class="ourFuture">
			<div class="ourFutureT1">Our Future</div>
			<div class="ourFutureContentW">結合大家的力量
				<p>
					我們希望能讓大家一起參與資料創造的過程，透過資料共創的方式，<br>更加強化我們的資料庫，讓大家都能使用更多的資料。
				</p>
			</div>
			<div class="ourFutureContentW">讓資料變得更有趣
				<p>
					我們想讓我們的食物資料變得更有趣、更好玩，讓大家<br>能有更完美的體驗，散播資料開放應用的種子。
				</p>
			</div>
			<div class="ourFutureContentW">擁抱開放的美好
				<p>
					我們希望藉由我們的行動、與大家的參與，能讓我們的社會<br>更加了解開放的美好，進而擁抱開放、享受開放。
				</p>
			</div>

		</article>

		<article class="whoAreWe">
			<div class="whoAreWeT1">Who We Are?</div>
			<span class="container">
				<span class="partnerX">
					<img src="../img/Michael_Chen.jpg" alt="陳步青" id="Michael_Chen" class="partner">
					<div class="introUs">
						<div class="indexUs">
							<div>資訊工程學系三年級</div>
							<div>陳步青</div>
						</div>
						<div calss="aboutUs">陳步青陳步青陳步青陳步青陳步青陳步青陳步青陳步青</div>
					</div>
				</span>
			</span>
			<span class="container">
				<span class="partnerX">
					<img src="../img/Chiu.jpg" alt="邱德旺" id="Chiu" class="partner">
					<div class="introUs">
						<div class="indexUs">
							<div>電機工程學系二年級</div>
							<div>邱德旺</div>
						</div>
						<div calss="aboutUs">走進程式的世界，感受其魔幻的力量，正在努力學習，希望能為社會盡一份心力，帶來一點點的不同。</div>
					</div>
				</span>
			</span>
			<span class="container">
				<span class="partnerX">
					<img src="../img/Ting.jpg" alt="陸庭宇" id="Ting" class="partner">
					<div class="introUs">
						<div class="indexUs">
							<div>資訊管理學系四年級</div>
							<div>陸庭宇</div>
						</div>
						<div calss="aboutUs">陸庭宇陸庭宇陸庭宇陸庭宇陸庭宇陸庭宇</div>
					</div>
				</span>
			</span>
		</article>
		<footer class="ctwFooter">
			<div class="wrapper">
				<div class="wrapperLeft">
					<h5>Contact Us</h5>
				    <a href="mailto:qwas65166516@gmail.com" class="email">qwas65166516@gmail.com</a>
				</div>
				<div class="wrapperRight">
					<h5>Picture Copyright</h5>
					<small>All CC BY 2.0</small>
					<ul>
						<li>
							Chicken Wing Skewers photo by&nbsp
							<a  href="https://www.flickr.com/photos/avlxyz/4407962493/">avlxyz</a>
						</li>
						<li>
							Fresh Vegetable Salad photo by&nbsp
							<a href="https://www.flickr.com/photos/free-stock/">Emilian Robert Vicol</a>
						</li>
						<li>
							Tile Background
							<a href="https://www.flickr.com/photos/zooboing/">Patrick Hoesly</a>
						</li> 
					</ul>
				</div>
			</div>

			<div class="info"><hr>
				<p class="copyright">Copyright © 2014 我食故我在 I Eat Therefore I Am</p>
				<p class="creator">
					Web developed and designed by 
					<a href="https://www.facebook.com/profile.php?id=100002146774789">Michael Chen</a>、
					<a href="https://www.facebook.com/styhihs">Ting-Yu Shen</a>、
					<a href="https://www.facebook.com/profile.php?id=100004132780240">Te-Wang Chiu</a>
					
				</p>
			</div>
		</footer>
		<%- include footer %>

	</body>
</html>
