<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include header %>
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	</head>
	<body>
		<%- include navbar %>
		<!-- Add code here -->

		<%- include footer %>
	</body>
</html>
