<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
    	<div class="navbar-header">
     		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        		<span class="sr-only">Toggle navigation</span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
      		</button>
      		<a class="navbar-brand" href="/"><strong>我食故我在</strong></a>
    	</div>

    	<!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
		        <li id="nav-food"><a href="/food">食品糾察隊</a></li>
		        <li id="nav-event"><a href="/events">食安事件簿</a></li>
      		</ul>
          <button type="button" class="btn btn-default navbar-btn navbar-right" id="nav-btn-mylist" onclick="(function(){location.href='/mylist'})()">我的清單</button>
          <button type="button" class="btn btn-default navbar-btn navbar-right" id="nav-btn-all" onclick="(function(){location.href='/food'})()">記錄總覽</button>
          <form class="navbar-form navbar-right" id="nav-search-bar" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">搜尋</button>
          </form>
          <!-- <button type="button" class="btn btn-default navbar-btn navbar-right" onclick="(function(){location.href='/login'})()">登入</button> -->
    	</div>
  	</div>
</nav>